<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteBase /projek/lab4/lab4_php_modular/  
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^(.*)$ index.php?mod=$1 [L]
</IfModule>